<div class="blog_box">

    <div class="blog_box_header">

        <a href="/blog/{{slug}}">{{title}}</a>
    </div>

    <div class="blog_box_divider">
        <p>{{time_since_post}}</p>
        <p>{{comment_count}} <i class="las la-comment-alt"></i></p>
    </div>

    <div class="blog_content_box">

        {{{content_preview_raw}}}
    </div>

</div>
